In [1]:
import mysql.connector

In [4]:
db = mysql.connector.connect(host='localhost',user='root',passwd='12345')

In [5]:
mycursor = db.cursor()

# Creating a database

In [ ]:
mycursor.execute('CREATE DATABASE testdatabase')

In [10]:
db = mysql.connector.connect(host='localhost',user='root',passwd='12345',database='testdatabase')

In [11]:
mycursor = db.cursor()

Create a table inside testdatabase

In [12]:
mycursor.execute('CREATE TABLE Person (name VARCHAR(50),age smallint UNSIGNED,personID int PRIMARY KEY AUTO_INCREMENT)')

To visualize data Table

In [17]:
mycursor.execute('DESCRIBE Person')

In [18]:
for name in mycursor:
    print(name)

('name', b'varchar(50)', 'YES', '', None, '')
('age', b'smallint unsigned', 'YES', '', None, '')
('personID', b'int', 'NO', 'PRI', None, 'auto_increment')

To insert values inside table

In [19]:
mycursor.execute('INSERT INTO Person (name,age) VALUES (%s,%s)',('janaesh',22))

In [20]:
db.commit()

In [21]:
mycursor.execute('SELECT * FROM Person')

In [22]:
for data in mycursor:
    print(data)

('janaesh', 22, 1)

# Selecting data and Altering the tables

In [24]:
from datetime import datetime

In [23]:
mycursor.execute("CREATE TABLE Test (name VARCHAR(50) NOT NULL,created datetime NOT NULL,gender ENUM('M','F')NOT NULL,id int PRIMARY KEY NOT NULL AUTO_INCREMENT)")

In [34]:
mycursor.execute("INSERT INTO Test (name,created,gender) VALUES (%s,%s,%s)",('abisek',datetime.now(),'M'))

In [35]:
db.commit()

In [38]:
mycursor.execute("SELECT * FROM Test WHERE gender = 'M' ORDER BY id DESC")

In [39]:
for data in mycursor:
    print(data)

('abisek', datetime.datetime(2021, 1, 18, 15, 54, 57), 'M', 3)
('jan', datetime.datetime(2021, 1, 18, 15, 51, 12), 'M', 1)

# Add columns and delete

In [ ]:
mycursor.execute('ALTER TABLE Test ADD COLUMN food VARCHAR(60)NOT NULL')

In [43]:
mycursor.execute("INSERT INTO Test (food) VALUES (%s)",('Pizza'))

ValueError: Could not process parameters

In [47]:
mycursor.execute('ALTER TABLE Test DROP food')

In [48]:
mycursor.execute('DESCRIBE Test')

In [49]:
for data in mycursor:
    print(data)

('name', b'varchar(50)', 'NO', '', None, '')
('created', b'datetime', 'NO', '', None, '')
('gender', b"enum('M','F')", 'NO', '', None, '')
('id', b'int', 'NO', 'PRI', None, 'auto_increment')

Change the name of column

In [50]:
mycursor.execute('ALTER TABLE Test CHANGE name first_name VARCHAR(50)')

In [51]:
mycursor.execute('DESCRIBE Test')

In [52]:
for data in mycursor:
    print(data)

('first_name', b'varchar(50)', 'YES', '', None, '')
('created', b'datetime', 'NO', '', None, '')
('gender', b"enum('M','F')", 'NO', '', None, '')
('id', b'int', 'NO', 'PRI', None, 'auto_increment')